.App {
  text-align: center;
}
.body{
  font-family: 'nanumbarungothic';
}
.title {
  text-align: center;
}

.modal {
  padding: 20px;
  color: white;
  background: #0060ff;
  text-align: left;
}

.calender {
  background: white;
}


.profile {
  text-align: right;
  padding: 0px 10px 0px 100px;
}

.m {
vertical-align: auto;
display: flex;
flex-wrap: wrap;
text-align: left;
display: inline-block;
padding: 10px 10px 10px 10px;
}


.Top-nav {
  background:#f2f3f4;
  width: 100%;
  color: #0060ff;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  box-sizing: border-box;
  display: table;
}
.menu {
 text-align: left;
 display: table-cell;
}

.list {
  background:#f2f3f4;
  margin-top: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}